@import "tailwindcss";

@layer components {
  .app {
    @apply bg-neutral-700 text-neutral-100;
  }

  .app-page {
    @apply max-w-2xl mx-auto h-screen flex flex-col bg-neutral-600;
  }

  .app-header {
    @apply flex items-center border-b-2 px-4 py-4;
  }

  .app-header-title {
    @apply text-2xl font-bold;
  }

  .app-page-content {
    @apply flex flex-col h-full px-4 pt-8;
  }
}
